
<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">GESTIONAR CONSULTORIO</h5></div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Clave Consultorio </label>
                  <input
                    class=" form-control"
                    disabled=""
                    placeholder="Company"
                    type="002"
                  />
                </div>
              </div>
              <div class=" col-md-7 px-md-1">
                <div class=" form-group">
                  <label> Nombre Consultorio: </label>
                  <input
                    class=" form-control"
                    placeholder="Nombre Consultorio"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Calle:</label>
                  <input
                    class=" form-control"
                    placeholder="Calle 34 E"
                    type="text"
                  />
                </div>
              </div>

              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Entre calles: </label>
                  <input
                    class=" form-control"
                    placeholder="Entre 34 y 44 B"
                    type="text"
                  />
                </div>
              </div>
            </div>

            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Licencia:</label>
                  <input
                    class=" form-control"
                    placeholder="Licencia Médica"
                    type="text"
                  />
                </div>
              </div>

              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Horario: </label>
                  <input
                    class=" form-control"
                    placeholder="22 de septiembre del 2020"
                    type="time" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Clave de Usuario:</label>
                  <input
                    class=" form-control"
                    placeholder="Licencia Médica"
                    type="text"
                  />
                </div>
              </div>

              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Colonia: </label>
                  <input
                    class=" form-control"
                    placeholder="Mérida"
                    type="text"
                  />
                </div>
              </div>
            </div>

            <div class=" row">
              <div class=" col-md-8">
                <div class=" form-group">
                  <label> Descripción </label>
                  <textarea
                    class=" form-control"
                    cols="80"
                    placeholder="Aquí va la descripción del consultorio."
                    rows="8"
                    value="Mike" >Aquí va la descripción del consultorio... </textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-info" type="submit">ACTUALIZAR</button>

          <button class=" btn btn-fill btn-danger" type="submit">ELIMINAR</button>
        </div>
      </div>
    </div>

    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total de CLIENTES</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 763,215
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div>
        </div>
      </div>

      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">TOTAL DE - C I T A S</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-send text-success"> </i> 3,500
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineGreen"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
</div>
